
#robot {
  animation: myRobot 3s linear infinite;
}

@keyframes myRobot {
  0% {
      transform: translatey(0px);
  }

  50% {
      transform: translatey(-20px);
  }

  100% {
      transform: translatey(0px);
  }
}

#robotlh {
  animation: myRobotlh 3s linear infinite;
}

@keyframes myRobotlh {
  0% {
      transform: translatex(5px);
  }

  50% {
      transform: translatex(11px);
  }

  100% {
      transform: translatex(5px);
  }
}

#robotlh-in {
  animation: myRobotlh-in 3s linear infinite;
}

@keyframes myRobotlh-in {
  0% {
      transform: translatex(9px);
  }

  50% {
      transform: translatex(16px);
  }

  100% {
      transform: translatex(9px);
  }
}

#robotrh {
  animation: myRobotrh 3s linear infinite;
}

@keyframes myRobotrh {
  0% {
      transform: translatex(15px);
  }

  50% {
      transform: translatex(9px);
  }

  100% {
      transform: translatex(15px);
  }
}

#robotrh-in {
  animation: myRobotrh-in 3s linear infinite;
}

@keyframes myRobotrh-in {
  0% {
      transform: translatex(11px);
  }

  50% {
      transform: translatex(4px);
  }

  100% {
      transform: translatex(11px);
  }
}


.shadow {
  height: 2px;
  display: block;
  margin: 15px auto;
  box-shadow: 0px 10px 5px black;
  animation: 3s infinite alternate shadow;
}



@keyframes shadow {
  0% {
      width: 180px;
      box-shadow: 0px 10px 8px rgba(0, 0, 0, .8);
  }

  50% {
      width: 150px;
      box-shadow: 0px 10px 8px rgba(0, 0, 0, .5);
  }

  100% {
      width: 180px;
      box-shadow: 0px 10px 8px rgba(0, 0, 0, .8);
  }
}

@keyframes blinkr {

  100%,
  0% {
      fill: #500;
  }

  60% {
      fill: #f00;
  }
}

#indred {
  animation: blinkr 4s infinite;
}

@keyframes blinkg {

  100%,
  0% {
      fill: #115500;
  }

  60% {
      fill: rgb(126, 236, 24);
  }
}

#indgreen {
  animation: blinkg 0.8s infinite;
}

@keyframes blinkcyn {

  100%,
  0% {
      fill: #075dad;
  }

  60% {
      fill: rgb(80, 226, 245);
  }
}

#indcyn {
  animation: blinkcyn 3s infinite;
}

@keyframes blinkPath1 {

  0%,
  100% {
      fill-opacity: 1;
  }

  50% {
      fill-opacity: 0;
  }
}


#path1 {
  animation: blinkPath1 3s infinite;
}

.talkbubble-left { 
 
  position: relative;
  -moz-border-radius: 0px 20px 20px 20px;
  -webkit-border-radius:  0px 20px 20px 20px;
  border-radius: 0px 20px 20px 20px;
  background: rgba(24	,115,	128,0.5);
  /* width: 80%; */
  max-width: 80%;
}
.talkbubble-left:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 26px solid rgba(24	,115	,128,0.5);
  border-bottom: 26px solid transparent;
}
 
.talkbubble-right { 
 
  position: relative;
  -moz-border-radius: 20px 0px 20px 20px;
  -webkit-border-radius: 20px 0px 20px 20px;
  border-radius:20px 0px 20px 20px;
  background:rgba(122,174,181,0.5) ;
  width: 80%;
  float: right;
}
.talkbubble-right:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 26px solid rgba(122,174,181,0.5);
    border-bottom: 26px solid transparent;
   
  }
    


.avatar {
 float: right;
 margin-right: 10%;
 height: 80px;
}


/* .send-msg{
  display:inline-block;
  position:relative;
}

button{
  position:absolute;
  bottom:10px;
  right:10px;
}

textarea{
  display:block;
} */

/* .wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
} */

.send-msg{
  position:absolute;
  bottom:0;
}

.loading:after {
  content: ' .';
  font-size: xx-large;
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgb(0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: rgb(0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 rgb(0, 0, 0),
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 rgb(0, 0, 0),
      .5em 0 0 rgb(0, 0, 0);}}
